<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="rango.tool.androidtool"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ToolApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".list.activity.RecyclerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".list.activity.ListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".experiments.TestActivity"
            android:launchMode="singleTask" />
        <activity android:name=".experiments.activity.CanvasActivity" />
        <activity android:name=".experiments.activity.ShapeActivity" />
        <activity android:name=".experiments.activity.WindowActivity" />
        <activity
            android:name=".experiments.activity.NavigationBarActivity"
            android:theme="@style/NavigationBarStyle" />
        <activity android:name=".experiments.activity.AutoScrollActivity" />
        <activity android:name=".experiments.activity.ButtonActivity" />
        <activity
            android:name=".transition.ImagePreviewActivity"
            android:theme="@style/TransparentStyle" />
        <activity android:name=".transition.TransitionActivity" />
        <activity android:name=".transition.ImageActivity" />
        <activity
            android:name=".transition.ImageListActivity"
            android:theme="@style/Image" />
        <activity
            android:name=".transition.ImageDetailActivity"
            android:theme="@style/Enter" />
        <activity android:name=".list.activity.GoodRecyclerActivity" />
        <activity
            android:name=".coordinator.CoordinatorActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name=".provider.TestContentProvider"
            android:authorities="rango.tool.androidtool.test.provider" />

        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme" />
        <activity android:name=".nestedscroll.NestedScrollActivity" />
        <activity android:name=".experiments.activity.AnrActivity" />
        <activity android:name=".transition.OffsetActivity" />
        <activity android:name=".touch.TouchActivity" />
        <activity android:name=".workmanager.WorkManagerActivity" />
        <activity android:name=".job.JobActivity" />
        <activity android:name=".launchmodel.LaunchMode1Activity"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".launchmodel.LaunchMode2Activity"
     />
        <activity
            android:name=".launchmodel.LaunchMode3Activity"
            android:taskAffinity="com.xxx" />
        <activity android:name=".memoryleak.MemoryLeakActivity" />
        <activity android:name=".memoryleak.HandlerMemoryLeakActivity" />
        <activity android:name=".memoryleak.StaticMemoryLeakActivity" />
        <activity android:name=".experiments.activity.PotholerActivity" />
        <activity android:name=".experiments.activity.StickerActivity" />
        <activity android:name=".experiments.activity.StackActivity" />
        <activity android:name=".experiments.activity.ProgressBarActivity" />
    </application>

</manifest>