<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rango.tool.androidtool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.tool.permission.TEST_BROADCAST_RECEIVER" />


    <permission
        android:name="android.tool.permission.TEST_BROADCAST_RECEIVER"
        android:protectionLevel="signature" />

    <application
        android:name=".ToolApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!--<category android:name="android.intent.category.HOME" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.MONKEY" />-->
            </intent-filter>
        </activity>
        <activity
            android:name=".list.activity.RecyclerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".list.activity.ListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".experiments.TestActivity"
            android:launchMode="singleTask" />

        <activity android:name=".experiments.activity.CanvasActivity" />
        <activity android:name=".experiments.activity.ShapeActivity" />
        <activity android:name=".experiments.activity.WindowActivity" />
        <activity
            android:name=".experiments.activity.NavigationBarActivity"
            android:theme="@style/NavigationBarStyle" />
        <activity android:name=".experiments.activity.AutoScrollActivity" />
        <activity android:name=".experiments.activity.ButtonActivity" />
        <activity
            android:name=".transition.ImagePreviewActivity"
            android:theme="@style/TransparentStyle" />
        <activity android:name=".transition.TransitionActivity" />
        <activity android:name=".transition.ImageActivity" />
        <activity
            android:name=".transition.ImageListActivity"
            android:theme="@style/Image" />
        <activity
            android:name=".transition.ImageDetailActivity"
            android:theme="@style/Enter" />
        <activity android:name=".list.activity.GoodRecyclerActivity" />
        <activity
            android:name=".coordinator.CoordinatorActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name=".provider.TestContentProvider"
            android:authorities="rango.tool.androidtool.test.provider" />

        <activity android:name=".nestedscroll.NestedScrollActivity" />
        <activity android:name=".experiments.activity.AnrActivity" />
        <activity android:name=".transition.OffsetActivity" />
        <activity android:name=".touch.TouchActivity" />
        <activity android:name=".workmanager.WorkManagerActivity" />
        <activity android:name=".job.JobActivity" />
        <activity
            android:name=".launchmodel.LaunchMode1Activity"
            android:launchMode="standard" />
        <activity
            android:name=".launchmodel.LaunchMode2Activity"
            android:theme="@style/BlockingerWelcomeTheme">
            <intent-filter>
                <action android:name="com.acbs.libcasualgames.solitaire" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".launchmodel.LaunchMode3Activity"
            android:taskAffinity="xx.dd"
            />

        <activity android:name=".memoryleak.MemoryLeakActivity" />
        <activity android:name=".memoryleak.HandlerMemoryLeakActivity" />
        <activity android:name=".memoryleak.StaticMemoryLeakActivity" />
        <activity android:name=".experiments.activity.PotholerActivity" />
        <activity android:name=".experiments.activity.StickerActivity" />
        <activity android:name=".experiments.activity.StackActivity" />
        <activity android:name=".experiments.activity.ProgressBarActivity" />
        <activity
            android:name=".keyboard.KeyboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".experiments.activity.ServiceActivity" />
        <activity android:name=".experiments.activity.BroadcastActivity" />
        <activity android:name=".fresco.FrescoActivity" />
        <activity android:name=".experiments.activity.WaterMarkActivity" />
        <activity android:name=".experiments.activity.NestedScrollRecyclerViewActivity" />
        <activity android:name=".experiments.activity.AidlActivity" />
        <activity android:name=".experiments.activity.RippleActivity" />
        <activity android:name=".experiments.activity.ExceptionActivity" />
        <activity android:name=".experiments.activity.BatteryActivity" />
        <activity android:name=".experiments.activity.ChargingShowActivity" />
        <activity android:name=".experiments.activity.DialogActivity" />
        <activity android:name=".experiments.activity.ViewDrawActivity" />
        <activity
            android:name=".experiments.activity.ProviderTestActivity"
            android:process=":test" />
        <activity android:name=".experiments.activity.GifImageActivity" />
        <activity android:name=".experiments.activity.ThreadActivity" />
        <activity android:name=".experiments.activity.NotificationActivity" />
        <activity android:name=".game.GameMainActivity" />
        <activity android:name=".game.hero.GameHeroActivity" />
        <activity android:name=".thread.ThreadMemoryActivity" />
        <activity android:name=".alive.AliveActivity" />
        <activity
            android:name=".alive.onepixel.OnePixelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/OnePixelActivityStyle" />
        <activity
            android:name=".wallpaper.WallpaperActivity"
            android:process=":wallpaper" />
        <activity android:name=".http.activity.HttpActivity" />
        <activity android:name=".alarm.AlarmActivity" />
        <activity android:name=".encrypt.EncryptActivity" />
        <activity
            android:name=".farm.PigActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".experiments.activity.OutlineTextActivity" />
        <activity android:name=".other.OtherActivity" />
        <activity
            android:name=".video.audio.AudioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".video.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".video.audio.MediaRecorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".video.camera.CameraActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".experiments.activity.AnyThingActivity" />
        <activity android:name=".accessibility.AccessibilityActivity" />
        <activity android:name=".earning.EarningActivity" />

        <receiver android:name=".alarm.AlarmReceiver" />

        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:exported="true"
            android:process=":other" />
        <service android:name=".service.MyService" />

        <receiver android:name=".receiver.TestBroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.normal.receiver" />
                <action android:name="com.honeycomb.launcher.ad.preload_interstitial_ad" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.OtherProcessReceiver"
            android:process=":other">
            <intent-filter>
                <action android:name="com.example.normal.other.process.receiver" />
            </intent-filter>
        </receiver>

        <service
            android:name=".wallpaper.LiveWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/my_wallpaper" />
        </service>

        <service
            android:name=".ipc.aidi.AidlService"
            android:process=":aidl" />

        <provider
            android:name=".provider.OtherProcessProvider"
            android:authorities="rango.tool.androidtool.provider.OtherProcessProvider"
            android:process=":other"
          />

        <receiver android:name=".receiver.OutingReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <service android:name=".service.MyIntentService" />

        <service
            android:name=".notification.ToolNotificationListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".alive.process.AliveService"
            android:enabled="true"
            android:exported="true"
            android:process=":alive" />
        <service
            android:name=".alive.process.LocalService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".alive.DownloadService" />
        <service android:name=".alive.music.MusicService" />
        <service android:name=".alive.frontdeskservice.CancelNotificationService" />
        <service
            android:name=".alive.frontdeskservice.FrontDeskService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".accessibility.ToolAccessibilityService"
            android:enabled="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>