<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rango.kotlin.wanandroid">

    <application>
        <activity android:name="rango.kotlin.wanandroid.WALoginActivity" />
        <activity android:name=".LaunchActivity" />
        <activity android:name=".common.WAMainActivity" />
    </application>
</manifest>